body{
			margin: 0px;
			padding: 0px;
			background-image: linear-gradient(to right, #725A38, #1F12A4);
		}
		
		.container{
			margin: auto;
			margin-top: 3vh;
			margin-bottom: 5vh;
			width: 40vw;
			height: fit-content;
		}
		
		.box{
			margin: auto;
			padding-top: 40px;
			padding-left: 60px;
			padding-bottom: 50px;
			width: 34vw;
			height: fit-content;
			border: 1px black solid;
			border-radius: 4px;
			box-shadow: -3px 5px 10px black;
			color: grey;
			background: #081e1e;
		}
		
		section#head > p > img{
			width: 180px;
		}
		section#body{
			text-align: center;
			font-size: 45px;
			font-family: 'Chewy', cursive;
		}
		
		section#body > p > img{
			width: 100px;
		}
		
		section#tail{
			text-align: center;
		}
		button{
			width:15vw;
			padding: 15px;
			margin-top: 20px;
			margin-bottom: 17px;
			font-size: 22px;
			color: grey;
			background: #081e1e;
			border: 1px deepskyblue solid;
		}
		
		button:hover{
			cursor: pointer;
			color: deepskyblue;
			transition: color .5s;
		}
		a{
			text-decoration: none;
			color: grey;
		}
		a:hover{
			cursor: pointer;
			color: deepskyblue;
			transition: color .5s;
		}
		a:visited, button:visited{
			color: green;
		}
